<div class="work-info">
	<h3>Strength &amp; Sport logo</h3>
	<p>An illustrated logo design for a friend's  strength coaching side business. I was aiming for a look similar to the old <a href="https://en.wikipedia.org/wiki/UFC_1">Ultimate Fighting logo</a> with an Atlus-like figure gripping a ball to illustrate both 'strength' and 'sport.'</p>
</div>

<img src="/images/portfolio/item-01/img-1.png" width="100%" height="100%">
<img src="/images/portfolio/item-01/img-2.png" width="100%" height="100%">
<img src="/images/portfolio/item-01/img-3.png" width="100%" height="100%">

<br> <!-- adds break that fixes .return not clearing images --> 
