<h3>Rent Otter</h3>
<p>A fictional vacation rental company website based on a brief from <a href="http://briefbox.me">briefbox.me</a>. This is a demo with complete mock-up and CSS, however, does not have the functionality required to make it a fully functional site. This site utilizes SASS and Bootstrap.</p>
<img src="/images/portfolio/item-02/img-1.png" width="100%" height="100%">
<img src="/images/portfolio/item-02/img-2.png" width="100%" height="100%">
<img src="/images/portfolio/item-02/img-3.png" width="100%" height="100%">

<a class="btn" href="http://nicklemmon.com/rent-otter">See the site</a>

<br> <!-- adds break that fixes .return not clearing images -->