<div class="work-info">
	<h3>Happy Budai Illustrations</h3>
	<p>A series of vector illustrations for a CSS Zen Garden entry. I never finished the site, but the artwork was a great learning experience. Bright colors, a smiling budai, and vegetables all make great subjects.</p>
</div> <!-- end .work-info -->

<img src="/images/portfolio/item-05/img-1.png" width="100%" height="100%">
<img src="/images/portfolio/item-05/img-2.png" width="100%" height="100%">
<img src="/images/portfolio/item-05/img-3.png" width="100%" height="100%">
<img src="/images/portfolio/item-05/img-4.png" width="100%" height="100%">
<img src="/images/portfolio/item-05/img-5.png" width="100%" height="100%">

<br> <!-- adds break that fixes .return not clearing images -->
