<div class="work-info">
	<h3>Lorem ipsum dolor sit amet</h3>
	<p>Curabitur ornare convallis cursus. Donec sit amet diam eleifend, posuere ipsum vitae, iaculis nisi. Phasellus varius rhoncus felis, sed ultrices nisi feugiat at. Vivamus luctus auctor dolor non euismod. Mauris id tincidunt neque. Mauris pretium quis risus a vehicula. Phasellus a maximus est. Mauris et dapibus lorem.</p>
</div> <!-- end .work-info -->

<img src="/images/portfolio/item-05/img-1.png" width="100%" height="100%">
<img src="/images/portfolio/item-05/img-2.png" width="100%" height="100%">
<img src="/images/portfolio/item-05/img-3.png" width="100%" height="100%">
<img src="/images/portfolio/item-05/img-4.png" width="100%" height="100%">
<img src="/images/portfolio/item-05/img-5.png" width="100%" height="100%">

<br> <!-- adds break that fixes .return not clearing images --> 
