<div class="work-info">
	<h3>Sketchbook samples</h3>
	<p>A few samples from my sketchbook and even a few from notebooks from college and grad school. These are all done with pen and ink, usually while bored.</p>
</div> <!-- end .work-info -->

<img src="/images/portfolio/item-08/img-1.png" width="100%" height="100%">
<img src="/images/portfolio/item-08/img-2.png" width="100%" height="100%">
<img src="/images/portfolio/item-08/img-3.png" width="100%" height="100%">
<img src="/images/portfolio/item-08/img-4.png" width="100%" height="100%">
<img src="/images/portfolio/item-08/img-5.png" width="100%" height="100%">
<img src="/images/portfolio/item-08/img-6.png" width="100%" height="100%">
<img src="/images/portfolio/item-08/img-7.png" width="100%" height="100%">

<br> <!-- adds break that fixes .return not clearing images -->
