<div class="work-info">
	<h3>Big Picture Films logo</h3>
	<p>Logo design for a wedding videography company using a hand-drawn pen an ink element, paired with simple typography. The bow-tie was drawn using pen and ink and then converted in to vector art.</p>
</div> <!-- end .work-info -->

<img src="/images/portfolio/item-08/img-1.png" width="100%" height="100%">
<img src="/images/portfolio/item-08/img-2.png" width="100%" height="100%">
<img src="/images/portfolio/item-08/img-3.png" width="100%" height="100%">
<img src="/images/portfolio/item-08/img-4.png" width="100%" height="100%">
<img src="/images/portfolio/item-08/img-5.png" width="100%" height="100%">
<img src="/images/portfolio/item-08/img-6.png" width="100%" height="100%">
<img src="/images/portfolio/item-08/img-7.png" width="100%" height="100%">

<br> <!-- adds break that fixes .return not clearing images -->
