<div class="work-info">
	<h3>nicklemmon.com - 2014</h3>
	<p>Portfolio website design using <a href="http://getbootstrap.com">Bootstrap</a>. The site features custom illustration of a giant dinosaur and robot fighting over a cityscape, partially inspired by the film <a href="https://en.wikipedia.org/wiki/Pacific_Rim_(film)">Pacific Rim</a>.</p>
	<a class="btn" href="http://nicklemmon.com/2014">See the site</a>
</div> <!-- end .work-info -->

<img src="/images/portfolio/item-06/img-1.png" width="100%" height="100%">
<img src="/images/portfolio/item-06/img-2.png" width="100%" height="100%">
<img src="/images/portfolio/item-06/img-3.png" width="100%" height="100%">
<img src="/images/portfolio/item-06/img-4.png" width="100%" height="100%">

<a class="btn" href="http://nicklemmon.com/2014">See the site</a>

<br> <!-- adds break that fixes .return not clearing images -->
