/*== SASS COLOR VARIABLES ==*/

$dark-text-color:       #333333;
$light-text-color:      #7A7A7A;
$dark-base-color:       #333333;
$light-base-color:      #1CDEB0;
$reg-button-color:      #1CDEB0;
$second-button-color:   #333333;

/*== OG COLOR SCHEME ==*/

// #1CDEB0 <- greenish color
// #23C0C7 <- light blue color
// #7A7A7A <- dark gray color
// #333333 <- lighter gray color