/*== SASS COLOR VARIABLES ==*/

$dark-text-color:       #1A1A1A;
$light-text-color:      #7F7F7F;
$dark-base-color:       #333333;
$light-base-color:      #E5E5E5;
$reg-button-color:      #333333;
$second-button-color:   #7F7F7F;
