/*== MISC VARIABLES ==*/

$default-padding:   60px;
$default-margin:    40px;
$primary-font-stack:    'Lato', sans-serif;
$secondary-font-stack:  'Lato', sans-serif;

/*== ANIMATION VARIABLES ==*/

$default-transition: .3s;