/*== MISC VARIABLES ==*/

$default-padding:   40px;
$default-margin:    30px;
$primary-font-stack:    'Lato', sans-serif;
$secondary-font-stack:  'Lato', sans-serif;

/*== ANIMATION VARIABLES ==*/

$default-transition: .3s;