/*===== ABOUT STYLES =====*/

section.about {
    padding-top: $default-padding*3;
    margin-top: -27px; /* aligns section with navbar */
    background: url(/images/hero.JPG) $dark-base-color;
    background-size: cover;
    color: white;
}

    section.about .sub-container {
        
    }

    section.about h1 {
        display: inline-block;
        padding: $default-padding;
        background-color: $light-base-color;
    }


    section.about p {
        color: white;
        font-weight: 300;
        font-size: 1.3rem;
    }

/*=== BEGIN ABOUT MEDIA QUERIES ===*/

/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {  
    
    section.about {
        padding-top: $default-padding*2;
    }
}

/* Small devices (tablets, 768px to 992px) */ 
@media (min-width: 768px) and (max-width: 992px) {
  
    
    section.about {
        padding-top: $default-padding*3;
    }

        section.about h1 {
            max-width: 70%;
        }
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    
    section.about h1 {
        max-width: 70%;
    }
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
    section.about h1 {
        max-width: 80%;
    }
    
}