/*===== BIO STYLES =====*/

section.bio {
    
}

    section.bio img {
        border-radius: 50%;
        border: 3px solid $second-button-color;
        max-width: 200px;
        margin-bottom: 20px;
    }

