/*===== BIO STYLES =====*/

section.bio {
    
}

	section.bio:before {
        content: "";
        display: block;
        margin: 0 auto;
		margin-bottom: $default-padding;
        background: $dark-base-color;
        max-width: percentage(1/12);
        height: 3px;
    }

    section.bio img {
        border-radius: 50%;
        border: 8px solid lighten($light-text-color,40%);
        max-width: 200px;
        margin-bottom: 20px;
    }

