/*===== CONTACT STYLES =====*/

section.contact {
    padding-bottom: $default-padding - 20px; /* slightly less padding for this section */
}

    section.contact form {
        @include display(border-box);
    		padding: $default-padding;
    		background: white;
        border: 3px solid $light-base-color;
    }

		section.contact .sub-container {

		}

        input,
        textarea {
            width: 100%;
            padding: 5px 10px;
        }

        input {
            @include display(inline-block);
      			outline-color: $dark-text-color;
      			@include transition(all $default-transition ease);
        }

        textarea {
            margin-bottom: -5px;
        }

        label {
            display: block;
            font-family: $secondary-font-stack;
      			font-size: 1rem;
      			font-weight: 400;
            color: $dark-text-color;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: center;
            margin-top: 5px;
            margin-bottom: $default-margin/2;
        }

          label.long {
            text-transform: initial;
            font-size: 1rem;
            line-height: 160%;
            letter-spacing: 1px;
            max-width: 80%;
            margin: 5px auto 30px auto;
          }

        textarea {
            height: 20rem;
        }

        input[type="submit"] {
      			max-width: $default-margin*2;
      			margin: 0 auto;
      			border: 3px solid white;
            font-size: 1rem;
            font-family: $secondary-font-stack !important;
            color: white;
            background: $light-base-color;
            border-radius: 8px;
            cursor: pointer;
        }

			input[type="submit"]:focus {
				outline-color: rgba(0,0,0,0);
			}

		input[type=text]:focus,
		input[type=email]:focus,
		textarea:focus {
			outline-color: $light-base-color;
			@include transition(all $default-transition ease);
		}


/*=== BEGIN CONTACT MEDIA QUERIES ===*/

/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {

	section.contact .sub-container {

	}

	section.contact form {
		padding: $default-padding/2;
	}

}
