/*===== CONTACT STYLES =====*/

section.contact {
    
}

    section.contact form {
        display: inline;
    }

	section.contact:before {
        content: "";
        display: block;
        margin: 0 auto;
        background: $dark-base-color;
        max-width: $default-margin*6;
        height: 5px;
    }

		section.contact .sub-container {
			margin-top: $default-margin*2;
		}

        input,
        textarea {
            width: 100%;
            padding: 5px 10px;
        }

        input {
            display: inline-block;
        }

        textarea {
            margin-bottom: -5px;
        }

        label {
            display: block;
            font-family: $secondary-font-stack;
            color: $dark-text-color;
            text-transform: uppercase;
            font-size: .8em;
            letter-spacing: 1px;
            text-align: left;
            margin-top: 5px;
            margin-bottom: $default-margin;
        }

        textarea {
            height: 20rem;
        }

        input[type="submit"] {
            display: block !important;
            float: left;
            border: none !important;
            font-size: 1rem;
            font-family: $secondary-font-stack !important;
            color: white;
            background: $reg-button-color;
            border-radius: 8px;
            cursor: pointer;
            margin-bottom: $default-margin;
        }


/*=== BEGIN CONTACT MEDIA QUERIES ===*/

/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {  
    
	section.contact .sub-container {
		padding: 0 $default-padding/2;
	}
	
}