
/*===== FOOTER STYLES =====*/

footer {
    @extend section;
    background: $dark-base-color;
    color: white;
    font-family: $secondary-font-stack;
    font-size: 1rem;
    text-transform: uppercase;
    clear: left;
}

    footer a {
        color: white;
        transition: all $default-transition ease;
    }

        footer a:hover {
            color: white;
            background: darken($dark-base-color, 10%);
            transition: all $default-transition ease;
        }

    footer ol {
        padding: 0; /* fixes issue so that footer content is appropriately centered */
    }

        footer ol li {
            list-style: none;
        }

            footer ol li a {
                display: block;
                width: 100%;
                padding: 10px 0 10px 0;
            }