/*===== NAVBAR STYLES =====*/

nav {
    font-family: $secondary-font-stack;
    color: $dark-text-color;
    text-transform: uppercase;
    font-size: 1rem;
    padding-top: 5px;
    overflow-y: hidden;
}

    .navbar-brand {
        background-image: url(/images/logo.svg);
        background-position: 50% 15px;
        background-size: 160px;
        width: 180px;
  	    background-repeat: no-repeat;
  	    @include display(border-box);
        margin-top: -3px;
    		padding-top: 15px; /* gives a little extra padding to deal with hover effect on the right side of the nav */
        text-indent: 200%; /* hides text - image replacement technique */
        white-space: nowrap; /* hides text - image replacement technique */
        overflow: hidden;
        border-top: 3px solid rgba(0,0,0,0);
        @include transition(all $default-transition ease)
    }

        .navbar-brand:hover,
        .navbar-brand:visited,
        .navbar-brand:active {
            border-top: 3px solid $light-base-color;
            @include transition(all $default-transition ease);
        }

    .navbar-default {
        border-bottom: 0px;
        border-radius: 0px; /* takes away silly rounded corners on the nav */
    }

        .navbar-nav li a {
            @include display(border-box);
            padding-left: 30px;
            margin-left: 20px;
            background-size: 20px !important;
            color: $dark-text-color !important;
      			border-top: 3px solid rgba(0,0,0,0); /* creates invisible border to remove animation */
      			margin-top: -3px; /* adjustment to make up for invisible border */
            @include transition(all $default-transition ease)
        }

            .navbar-nav li a:hover {
      				border-top: 3px solid $light-base-color;
      				@include transition(all $default-transition ease);
            }

            .navbar-nav li a.bio {
                background: url(/images/icons/bio.svg) no-repeat 0% 13px;
            }

            .navbar-nav li a.portfolio {
                background: url(/images/icons/portfolio.svg) no-repeat 0% 13px;
            }

            .navbar-nav li a.skills {
                background: url(/images/icons/resume.svg) no-repeat 0% 13px;
            }

            .navbar-nav li a.contact {
                background: url(/images/icons/contact.svg) no-repeat 0% 13px;
            }


/*=== BEGIN NAVBAR MEDIA QUERIES ===*/

/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {

    .navbar-brand {

    }

}
