/*===== NAVBAR STYLES =====*/

nav {
    font-family: $secondary-font-stack;
    color: $dark-text-color;
    text-transform: uppercase;
    font-size: 1rem;
    padding-top: 5px;
}

    .navbar-brand {
        color: white !important;
        background: $dark-base-color !important;
        transition: all $default-transition ease;
        background-image: url(logo.svg);
	    background-repeat: no-repeat;
	    display: block;
    }

        .navbar-brand:hover,
        .navbar-brand:visited,
        .navbar-brand:active {
            background: $dark-base-color !important; /* overrides default bootstrap behavior */
        }

    .navbar-default {
        border-bottom: 0px;
        border-radius: 0px; /* takes away silly rounded corners on the nav */
    }

        .navbar-nav li a {
            padding-left: 30px;
            margin-left: 20px;
            background-size: 20px !important;
            color: $dark-text-color !important;
            transition: all $default-transition ease;
        }
        
            .navbar-nav li a:hover {
                color: lighten($dark-text-color, 30%) !important;
                transition: all $default-transition ease;
            }

            .navbar-nav li a.bio {
                background: url(/images/icons/bio.svg) no-repeat 0% 13px;
            }

            .navbar-nav li a.portfolio {
                background: url(/images/icons/portfolio.svg) no-repeat 0% 13px;
            }

            .navbar-nav li a.resume {
                background: url(/images/icons/resume.svg) no-repeat 0% 13px;
            }

            .navbar-nav li a.contact {
                background: url(/images/icons/contact.svg) no-repeat 0% 13px;
            }

