/*===== PORTFOLIO STYLES =====*/

section.portfolio {
    overflow: hidden;
    min-height: 1000px;
    padding-top: $default-padding !important;
}

    section.portfolio .first.sub-container {

    }

    .work-belt {
        @include display(flex);
        @include flex-direction(row);
        @include flex-wrap(wrap);
        height: 200%;
        width: 100%;
    }

        .work-container {
            @extend .fade-in;
            position: relative;
            max-width: 100%;
            //max-height: 100%;
            opacity: 1;
            height: 100%; opacity: 1;
            @include display(flex);
            @include flex-direction(row);
            @include align-items(center);
            @include flex-wrap(wrap);
            @include transition(all $default-transition*2 ease);
        }

            .work-container .row {
                @include display(flex);
                @include flex-direction(row);
                @include align-items(center);
                @include justify-content(center);
                max-width: 100%;
                margin: 0 auto;
            }

			.work-item-unit {
				position: relative;
				overflow: hidden;
			}

				.overlay {
					@include display(flex);
					@include align-items(center);
					@include justify-content(center);
					display: block;
					position: absolute;
					left: 0;
					bottom: -100%;
					width: 100%;
					height: 120px;
					background: rgba(black, .7);
					padding: 30px;
					cursor: pointer;
					@include transition(all $default-transition ease);
				}

					.overlay p {
						color: white;
						font-size: 1rem;
						text-transform: uppercase;
						max-width: 100%;
						padding: 0px;
					}

					.work-item-unit:hover .overlay {
						bottom: 0;
						@include transition(all $default-transition ease);
					}

            .work-container img.work-item {
                margin-bottom: 0px; /* eliminates vertical space b/t .work-items */
		            z-index: -1;
                cursor: pointer;
                @include transition(all $default-transition ease);
            }

        .work-focus {
            display: block;
            height: 0;
            opacity: 0; /* hides the element so as not to impact height of the entire section */
            position: relative;
            visibility: hidden;
            @include transition(all $default-transition ease);
        }

            .work-focus.slide {
                @extend .fade-in;
                height: 100%;
                visibility: visible;
                @include transition(all $default-transition ease);
            }

            .work-container.remove, .work-focus.remove {
                //display: block;
                @extend .fade-out;
                height: 0; opacity: 0;
                @include transition(all $default-transition ease);
            }

            .work-focus .return {
                display: inline-block;
                text-indent: -9999px;
                margin-bottom: $default-margin;
                @include size(60px);
                background: url(/images/icons/arrow-left.svg) 50% 50% no-repeat;
                cursor: pointer;
        				border-bottom: 3px solid rgba(0,0,0,0);
        				@include transition(all $default-transition ease);
            }

				.work-focus .return:hover {
					border-bottom: 3px solid $dark-base-color;
					@include transition(all $default-transition ease);
				}

			.work-focus .work-info {
				background: $dark-base-color;
				color: white;
				padding: $default-padding/4 $default-padding/2;
				color: white;
				max-width: 100%;
				margin: 0 auto;
			}

				.work-focus .work-info .btn {
					border: 3px solid #fff;
					background: rgba(0,0,0,0);
				}

					.work-focus .work-info .btn:hover {
						 background: rgba(0,0,0,.3);
					}

			.work-focus h3 {
				margin-top: $default-margin/4;
			}

				.work-focus h3:after {
					content: "";
					display: block;
					margin: 0 auto;
					margin-top: $default-margin/2;
					background: white;
					max-width: percentage(1/2);
					height: 3px;
				}

            .work-focus p {
                font-size: 1rem;
		            font-weight: 300;
                line-height: 150%;
	              color: white;
                margin-bottom: $default-margin/2;
            }

				.work-focus p a {
					text-decoration: underline;
				}

					.work-focus p a:hover {
						color: darken($light-base-color, 5%);
					}

			.work-focus img {
				@include display(border-box);
				margin-bottom: 0;
			}

			.work-focus br {
				margin-bottom: $default-margin/2;
			}

/*=== BEGIN GLOBAL MEDIA QUERIES ===*/

/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {

    section.portfolio {
        padding: 0;
	}

    .work-container {
        margin-bottom: $default-margin;
    }

        .work-container .row {
            @include display(flex);
            @include flex-direction(row);
	          @include justify-content(center);
            @include align-items(center);
            @include flex-wrap(wrap);
            //max-width: 100% !important;
        }

        .work-focus.slide {
          //left: 0%;
        }

	.overlay p {
		font-size: 1.2rem;
		max-width: 100%;
	}

}

@media (min-width: 768px) { /* layout for 768px and up */



}

/* Small devices (tablets, 768px to 992px) */
@media (min-width: 768px) and (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}
