/*===== PORTFOLIO STYLES =====*/

section.portfolio {
    overflow: hidden;
}

    section.portfolio .first.sub-container {
        margin-top: $default-margin*2;
    }

    .work-belt {
        @include display(flex);
        width: 200%;
    }

        .work-container {
            position: relative;
            //left: 0%;
            margin: 0 auto;
            max-width: 50%;
            height: 100%; opacity: 1;
            @include display(flex);
            @include flex-direction(row);
            @include align-items(center);
            @include flex-wrap(wrap);
        }

            .work-container .row {
                @include display(flex);
                @include flex-direction(row);
                @include align-items(center);
            }

			.work-item-unit {
				position: relative;
				overflow: hidden;
			}
				
				.overlay {
					@include display(flex);
					@include align-items(center);
					@include justify-content(center);
					display: block;
					position: absolute;
					left: 0;
					bottom: -100%;
					width: 100%;
					height: 120px;
					background: rgba(28,222,176,.8);
					padding: 30px;
					cursor: pointer;
					@include transition(all $default-transition ease);
				}

					.overlay p {
						color: white;
						font-size: 1rem;
						text-transform: uppercase;
						max-width: 100%;
						padding: 0px;
					}

					.work-item-unit:hover .overlay {
						bottom: 0;
						@include transition(all $default-transition ease);
					}

					.work-item-unit:focus .overlay {
						bottom: 0;
						background: rgba(28,222,176,1);
						@include transition(all $default-transition/2 ease);
					}

            .work-container img.work-item {
                margin-bottom: 0px; /* eliminates vertical space b/t .work-items */
				z-index: -1;
                cursor: pointer;
				
            }

        .work-focus {
            height: 0; opacity: 0; /* hides the element so as not to impact height of the entire section */
            visibility: hidden;
            max-width: 100%; /* half of 200% is 100% */
            padding-top: $default-padding/2;
            padding-bottom: $default-padding;
            position: relative;
            left: -100%;
            @include display(flex);
            @include flex-direction(column);
            @include align-items(center);
        }

            .work-focus.slide {
                height: 100%; opacity: 1; /* div is no longer hidden when this class is applied */
                background: white;
                visibility: visible;
                left: -50%;
                @include transition(left $default-transition*2 ease, opacity $default-transition*2 ease);
            }

            .work-container.remove, .work-focus.remove {
                height: 0; opacity: 0;
                visibility: hidden;
                @include transition(all $default-transition*2 ease);
            }

            .work-focus .return {
                display: inline-block;
                text-indent: -9999px;
                margin-bottom: $default-margin/4;
                @include size(60px);
                background: url(/images/icons/arrow-left.svg) 50% 50% no-repeat;
                cursor: pointer;
				border-bottom: 1px solid rgba(0,0,0,0);
				@include transition(all $default-transition ease);
            }

				.work-focus .return:hover {
					border-bottom: 1px solid $dark-base-color;
					@include transition(all $default-transition ease);
				}

			.work-focus h3 {
				margin-top: $default-margin/4;
				color: $light-text-color;
			}

            .work-focus p {
                font-size: 1rem;
				font-weight: 300;
                line-height: 145%;
				margin-bottom: $default-margin;
				color: $dark-base-color;
            }

			.work-focus img {
				@include display(border-box);
				margin-bottom: 0;
			}

			.work-focus br {
				margin-bottom: $default-margin/2;
			}

/*=== BEGIN GLOBAL MEDIA QUERIES ===*/

/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {
    
    section.portfolio {
        padding: $default-padding/2;
	}
    
    .work-container {
        margin-bottom: $default-margin;
    }
    
        .work-container .row {
            @include display(flex);
            @include flex-direction(row);
			@include justify-content(center);
            @include align-items(center);
            @include flex-wrap(wrap);
            max-width: 100% !important;
        }
	
    section.portfolio .sub-container,
    .work-focus {
        max-width: 100% !important;
    }
    
    .work-focus .sub-container {
        padding: 0;
        max-width: 100% !important;
    }
	
	.overlay p {
		font-size: 1.5rem;
	}
    
    .work-focus .return {
        margin-right: -40px !important; /* centers right arrow on small screens */
    }
    
}

@media (min-width: 768px) { /* layout for 768px and up */
       
}

/* Small devices (tablets, 768px to 992px) */ 
@media (min-width: 768px) and (max-width: 992px) {
       
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
      
    .work-focus {
        margin: 0 auto;
        max-width: 60%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
       

    
    
    .work-focus {
        margin: 0 auto;
        max-width: 60%;
    }
       
}   